{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": ["external-helpers"],
  "env": {
    "webpack": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react",
        "stage-0"
      ],
      "plugins": ["transform-runtime", "react-hot-loader/babel"]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "exclude": ["transform-regenerator"]
          }
        ],
        "react",
        "stage-0"
      ],
      "plugins": [
        "transform-runtime",
        [
          "module-resolver",
          {
            "alias": {
              "^(slate.*)": "./packages/\\1/src"
            }
          }
        ]
      ]
    },
    "benchmark": {
      "presets": [
        [
          "env",
          {
            "exclude": ["transform-regenerator"]
          }
        ],
        "react",
        "stage-0"
      ],
      "plugins": ["transform-runtime"]
    }
  }
}
