# Build files.
*.js.map
build/
dist/
lib/
examples/build.dev.js
examples/build.prod.js

# Temporary files.
tmp/

# Gitbook files.
_book/

# Package files.
lerna-debug.log
node_modules/
npm-debug.log
yarn-error.log
packages/*/yarn.lock

# OS files.
.DS_Store
