{
  "sourceMap": false,
  "instrument": false,
  "all": true,
  "extension" : ["js"],
  "cache": false,
  "include": ["**/src/**"],
  "include": ["**/polyfill-deprecation/**"],
  "reporter": [
    "html",
    "lcov",
    "text",
    "text-summary"
  ],
  "report-dir": "coverage"
}

