{
  "require": [
    "babel-register"
  ],
  "sourceMap": false,
  "instrument": false,
  "all": true,
  "extension" : ["js"],
  "cache": false,
  "exclude": ["**/test/**", "**/benchmark/**"],
  "reporter": [
    "html",
    "lcov",
    "text",
    "text-summary"
  ],
  "report-dir": "coverage"
}

