
html,
input,
textarea {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background: #eee;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

:not(pre) > code {
  background-color: #eee;
  padding: 3px;
}

img {
  max-width: 100%;
  max-height: 20em;
}

img.active {
  box-shadow: 0 0 0 2px blue;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

blockquote[dir="rtl"] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid #ddd;
}

input {
  font-size: .85em;
  width: 100%;
  padding: .5em;
  border: 2px solid #ddd;
  background: #fafafa;
}

input:focus {
  outline: 0;
  border-color: blue;
}

/**
 * Icons.
 */

.material-icons {
  font-size: 18px;
  vertical-align: text-bottom;
}

/**
 * App.
 */

.topbar {
  padding: 10px 15px;
  color: #AAA;
  background: #000;
}

.topbar-title {
  margin-right: 0.5em;
}

.topbar-links {
  float: right;
}

.topbar-link {
  margin-left: 1em;
  color: #AAA;
  text-decoration: none;
}

.topbar-link:hover {
  color: #FFF;
  text-decoration: underline;
}

.tabs {
  padding: 15px 15px;
  background-color: #222;
  text-align: center;
  margin-bottom: 30px;
}

.tab {
  color: #777;
  display: inline-block;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  margin-bottom: 0.2em;
}

.tab:hover {
  background: #333;
}

.tab + .tab {
  margin-left: 0.5em;
}

.tab.active {
  color: white;
  background: #333;
}

/**
 * Example.
 */

.example {
  max-width: 42em;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}

.editor > * > * + * {
  margin-top: 1em;
}

.menu > * {
  display: inline-block;
}

.menu > * + * {
  margin-left: 15px;
}

.button {
  color: #ccc;
  cursor: pointer;
}

.button[data-active="true"] {
  color: black;
}

.toolbar-menu {
  padding: 1px 0 17px 18px;
  margin: 0 -20px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.hover-menu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity .75s;
}

.hover-menu .button {
  color: #aaa;
}

.hover-menu .button[data-active="true"] {
  color: #fff;
}

.emoji.selected {
  outline: 2px solid blue;
}
