
html {
  background: #eee;
  padding: 20px;
}

main {
  max-width: 40em;
  margin: 0 auto;
}

p {
  margin: 0;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid #ddd;
}

/**
 * Icons.
 */

.material-icons {
  font-size: 18px;
}

/**
 * App.
 */

.tabs {
  text-align: center;
  margin-bottom: 30px;
}

.tab {
  color: #aaa;
  display: inline-block;
  text-decoration: none;
}

.tab + .tab {
  margin-left: 20px;
}

.tab.active {
  color: black;
  font-weight: bold;
}

/**
 * Example.
 */

.example {
  background: #fff;
  padding: 10px;
}

.editor > * > * + * {
  margin-top: 1em;
}

.menu {
  margin: 0 -10px;
  padding: 1px 0 9px 8px;
  border-bottom: 2px solid #eee;
  margin-bottom: 10px;
}

.menu > * {
  display: inline-block;
}

.menu > * + * {
  margin-left: 10px;
}

.button {
  color: #ccc;
  cursor: pointer;
}

.button[data-active="true"] {
  color: black;
}
