html,
input,
textarea {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background: #eee;
}

body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

p {
  margin: 0;
}

pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

:not(pre) > code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}

img {
  max-width: 100%;
  max-height: 20em;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

blockquote[dir='rtl'] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid #ddd;
}

input[type='text'],
input[type='search'] {
  box-sizing: border-box;
  font-size: 0.85em;
  width: 100%;
  padding: 0.5em;
  border: 2px solid #ddd;
  background: #fafafa;
}

input[type='text']:focus,
input[type='search']:focus {
  outline: 0;
  border-color: blue;
}

iframe {
  width: 100%;
  border: 1px solid #eee;
}

details > summary {
  user-select: none;
}

[data-slate-editor] > * + *,
[data-slate-chunk] > * + * {
  margin-top: 1em;
}

.fancy {
  background-color: rgb(218, 225, 255);
  padding: 40px;
  font-size: 20px;
  min-height: 150px;
  outline: 3px dashed rgb(0, 94, 128);
  border-radius: 20px;
  outline-offset: -20px;
  white-space: pre-wrap;
}

.performance-controls {
  padding: 20px;
  margin: -20px -20px 20px -20px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid lightgrey;
  max-height: 50vh;
  overflow-y: auto;
}

.performance-controls > * {
  margin-top: 10px;
}

.performance-controls > details > :not(summary) {
  margin-left: 10px;
}

.performance-controls p {
  margin-top: 5px;
}

.example-header {
  align-items: center;
  background: #000;
  color: #aaa;
  display: flex;
  height: 42px;
  position: relative;
  z-index: 3; /* To appear above the underlay */
}

.example-title {
  margin-left: 1em;
}

.example-link-list {
  margin-left: auto;
  margin-right: 1em;
}

.example-link {
  margin-left: 1em;
  color: #aaa;
  text-decoration: none;
}

.example-link:hover {
  color: #fff;
  text-decoration: underline;
}

.example-pill {
  background: #333;
  border-radius: 9999px;
  color: #aaa;
  padding: 0.2em 0.5em;
}

.example-tab-list {
  background-color: #222;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-top: 0.2em;
  position: absolute;
  transition: 
    width 0.2s, 
    visibility 0.2s;
  white-space: nowrap;
  max-height: 70vh;
  z-index: 3; /* To appear above the underlay */
}

.example-tab-list.visible {
  width: 200px;
  visibility: visible;
}

.example-tab-list.hidden {
  width: 0;
  visibility: hidden;
}

.example-tab-list-underlay {
  background-color: rgba(200, 200, 200, 0.8);
  height: 100%;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.example-tab-list-underlay.visible {
  display: block;
}

.example-tab-list-underlay.hidden {
  display: none;
}

.example-tab-button {
  margin-left: 0.8em;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.example-tab-button:hover {
  cursor: pointer;
}

.example-tab-button .material-icons {
  color: #aaa;
  font-size: 24px;
}

.example-tab {
  display: inline-block;
  margin-bottom: 0.2em;
  padding: 0.2em 1em;
  border-radius: 0.2em;
  text-decoration: none;
  color: #777;
  background: transparent;
}

.example-tab.active {
  color: white;
  background: #333;
}

.example-tab:hover {
  background: #333;
}

.example-page-header {
  align-items: center;
  background-color: #555;
  color: #ddd;
  display: flex;
  height: 42px;
  position: relative;
  z-index: 3; /* To appear above the underlay */
}

.example-page-title {
  margin-left: 1em;
}

.example-content {
  max-width: 42em;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
}

.example-warning {
  max-width: 42em;
  margin: 20px auto;
  padding: 20px;
  background: #fffae0;
}

.example-warning > pre {
  background: #fbf1bd;
  white-space: pre;
  overflow-x: scroll;
  margin-bottom: 0;
}
