html,
input,
textarea {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background: #eee;
}

body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

p {
  margin: 0;
}

pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

:not(pre) > code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}

img {
  max-width: 100%;
  max-height: 20em;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

blockquote[dir='rtl'] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid #ddd;
}

input[type='text'],
input[type='search'] {
  box-sizing: border-box;
  font-size: 0.85em;
  width: 100%;
  padding: 0.5em;
  border: 2px solid #ddd;
  background: #fafafa;
}

input[type='text']:focus,
input[type='search']:focus {
  outline: 0;
  border-color: blue;
}

iframe {
  width: 100%;
  border: 1px solid #eee;
}

details > summary {
  user-select: none;
}

[data-slate-editor] > * + *,
[data-slate-chunk] > * + * {
  margin-top: 1em;
}

.fancy {
  background-color: rgb(218, 225, 255);
  padding: 40px;
  font-size: 20px;
  min-height: 150px;
  outline: 3px dashed rgb(0, 94, 128);
  border-radius: 20px;
  outline-offset: -20px;
  white-space: pre-wrap;
}

.performance-controls {
  padding: 20px;
  margin: -20px -20px 20px -20px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid lightgrey;
  max-height: 50vh;
  overflow-y: auto;
}

.performance-controls > * {
  margin-top: 10px;
}

.performance-controls > details > :not(summary) {
  margin-left: 10px;
}

.performance-controls p {
  margin-top: 5px;
}
