
html {
  background: #eee;
  padding: 20px;
}

main {
  background: #fff;
  padding: 10px;
  max-width: 40em;
  margin: 0 auto;
}

p {
  margin: 0;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

.editor > * > * + * {
  margin-top: 1em;
  margin-bottom: 0;
}

.menu {
  margin: 0 -10px;
  padding: 1px 0 9px 8px;
  border-bottom: 2px solid #eee;
  margin-bottom: 10px;
}

.menu > * {
  display: inline-block;
}

.menu > * + * {
  margin-left: 10px;
}

.button {
  color: #ccc;
  cursor: pointer;
}

.button[data-active="true"] {
  color: black;
}

.material-icons {
  font-size: 18px;
}
