name: CI

on:
  - push
  - pull_request

jobs:
  ci:
    name: ${{ matrix.command }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command:
          - 'test'
          - 'test:integration'
          - 'test:examples'
          - 'lint:eslint'
          - 'lint:prettier'
          - 'lint:typescript'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: yarn
          key: node16

      - name: Run ${{ matrix.command }}
        run: yarn && yarn build && yarn ${{ matrix.command }}
        env:
          CI: true
