name: Continuous Integration

on:
  - push
  - pull_request

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command:
          - 'test'
          - 'lint:eslint'
          - 'lint:prettier'
          - 'lint:typescript'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 12

      - name: Run ${{ matrix.command }}
        run: yarn && yarn build:rollup && yarn ${{ matrix.command }}
        env:
          CI: true
